# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Thumbs.db
bin
*.suo
Debug
*.vcxproj.user
*.*sdf
*.ncrunchsolution
*.ncrunchsolution.user
*.crunchsolution.cache
*.ipch
